.contenedor{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1%;
    font-family: 'Montserrat';
    background-color: #F7AA00;
}
.testimonio{
    margin-top: 80px;
    position: relative;
    width: 350px;
    max-width: 100%;
}
.testi{
    padding-top: 20%;
    border-radius: 5%;
   /*  background-color: #EAEDED; */
    padding-bottom: 0.5%;
    color: red;
}
.imgCustomer{
    position: absolute;
    border-radius: 50%;
    width: 50%;
    top: -15%;
    right: 23%;
}
.contenedor{
    padding-top: 0;
}
.historia{
    font-family: 'Montserrat';
    color: black;
   
}
